body {
    font-family: Verdana;
    width: 960px;
}

form {
}

.myStyle {
    font-family: "Bauhaus 93";
}

.Box {
    padding: 5px;
    border-width: 2px;
    border-style: ridge;
    background-color: Lime;
}

header{
    height: 100px;
    padding: 5px;
    background-color: #FFFF00;
    color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.headerIcon {
    width: 100px;
    float: left;
}

.headerBody {
    width: 690px;
}

nav {
    width: 100px;
    padding: 5px;
    float: left;
    line-height: 30px;
    background-color: #eeeeee;
    font-size: medium;
}

section {
    width: 670px;
    /*height: 300px;*/
    padding: 10px;
    float: left;
    font-size: medium;
}

footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    font-size: small;
}

