
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.myGrid-row {
    background-color: transparent;
    margin: 0 0 20px 0;
}

    .myGrid-row:after {
        /* Or @extend clearfix */
        content: "";
        display: table;
        clear: both;
    }

[class*='myCol-'] {
    float: left;
    padding-right: 20px;
}

.grid [class*='myCol-']:last-of-type {
    padding-right: 20px;
}

.myCol-1-16b {
    width: 6.25%;
    min-width: 1px;
}

.myCol-1-8 {
    width: 12.5%;
    min-width: 120px;
}

.myCol-1-8b {
    width: 12.5%;
    min-width: 1px;
}

.myCol-1-12 {
    width: 8.33%;
    min-width: 60px;
}

.myCol-2-12 {
    width: 16.66%;
    min-width: 80px;
}

.myCol-3-12 {
    width: 25%;
    min-width: 100px;
}

.myCol-4-12 {
    width: 33.33%;
    min-width: 120px;
}

.myCol-5-12 {
    width: 41.66%;
    min-width: 130px;
}

.myCol-6-12 {
    width: 50%;
    min-width: 150px;
}

myCol-7-12 {
    width: 58.33%;
    min-width: 150px;
}

.myCol-8-12 {
    width: 66.66%;
    min-width: 150px;
}

.myCol-9-12 {
    width: 75%;
    min-width: 175px;
}

.myCol-10-12 {
    width: 83.33%;
    min-width: 175px;
}

.myCol-11-12 {
    width: 91.66%;
    min-width: 200px;
}

.myCol-12-12 {
    width: 100%;
    min-width: 200px;
}

.module {
    padding: 20px;
    background: #eee;
}

/* Opt-in outside padding */
.myGrid-container {
    padding: 20px 0 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

    .myGrid-container [class*='myCol-']:last-of-type {
        padding-right: 20px;
    }
