body {
    margin: 20px;
}

.bodyLimit {
    margin-left: auto;
    max-width: 960px;
    margin-right: auto;
}


p, ul, ol {
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: darkblue;
}

ul {
    list-style: none;
}

ol {
    margin: 20px;
}

.snippetBox {
    padding: 15px;
    border: solid 3px black;
    margin: 20px 50px;
    background-color: #d0e0ff;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.snippetText {
    font-family: monospace;
    font-size: 80%;
    margin: 2px;
}


.snippetBox2 {
    padding: 10px;
    border: solid 3px black;
    background-color: #d0e0ff;
    margin-left: auto;
    margin-right: auto;
}

    .snippetBox2 ul {
        font-family: monospace;
        font-size: 80%;
        margin: 2px;
    }



.sinppetWell {
    color: black;
    background: #d0e0ff;
    border: solid 3px black;
    border-radius: 0;
    font-family: monospace;
    font-size: 80%;
}

    .sinppetWell ul {
        margin-bottom: 0;
    }

.Indent1 {
    margin: 20px;
}

.Indent2 {
    margin: 40px;
}

.titleCenter {
    text-align: center;
}

.carousel-indicators li {
    border-color: slategray;
}

.carousel-indicators .active {
    background-color: slategray;
}

.myCarouselGradient {
    /*background: linear-gradient(to right, steelblue , silver, Steelblue )*/
    background: linear-gradient(to right, #7C7C90, #BCBCCC, #7C7C90 );
}

.myTextCenter {
    text-align: center;
}

my-h1 {
    display: block;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

my-h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

my-h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

my-h4 {
    display: block;
    font-size: 0.9em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
