body {
    margin: 20px;
}

p, ul, ol {
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: darkblue;
}

ul {
    list-style: none;
}

ol {
    margin: 20px;
}

.snippetBox {
    padding: 15px;
    border: solid 3px black;
    margin: 20px 50px;
    background-color: #d0e0ff;
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
}

.snippetText {
    font-family: monospace;
    font-size: 80%;
    margin: 2px;
}

.Indent1 {
    margin: 20px;
}

.Indent2 {
    margin: 40px;
}

.titleCenter {
    text-align: center;
}

.carousel-indicators li {
  border-color:slategray;
}
.carousel-indicators .active {
  background-color: slategray;
}
